.btn_filters-foods{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  button {
    background: var(--secondary);
    border: 0;
    color: var(--text-title);
    padding: 0.3rem;
    border-radius: 0.5rem;
  }
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  div {
    margin-top: 0.5rem;
    width:170px !important;
    background: var(--card-background)!important;
    color: var(--card-title) !important;
  }
}

div.card-title{
  width: 100% !important;
  text-align: center;
}