.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  background: var(--primary);
  color: var(--card-title);
  font-family: 'Satisfy', cursive;

  img {
    opacity: 0.5;
  }

  h1 {
    margin: 0 auto;
    opacity: 0.5;
  }

  button {
    background: transparent;
    border: 0;
  }
}