@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
  --primary: #ff8e3c !important;
  --secondary: #fa5246 !important;
  --tertlary: #33CC95;
  
  --blue-light: #6933ff;
  
  --text-title: #0d0d0d !important;
  --text-body: #969cb3;

  --card-title: #0d0d0d !important;
  --card-background:#eff0f3 !important;
  --card-paragraph: #2a2a2a !important;
  
  --background: #f0f2f5;
  --shape: #FFFFFF;
  }
  
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
  
  body{
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  width: 100vw;
  }
  
  body, input, textarea, button{
  font-family: 'Popins', sans-serif;
  font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6, strong{
  font-weight: 600;
  }

  .button {
    background: linear-gradient(#f29e62, var(--primary));
    border: 1px solid #ff8e3c;
    /* background: linear-gradient(#fa5246, var(--secondary)); */
    /* border: 1px solid #ed3434; */
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 #292629;
    color: #fafafa;
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica , Arial , Verdana , Tahoma , sans-serif;
    font-size: 17px;
    padding: 5px 75px;
    text-decoration: none;
    text-shadow: 0 0 2px #f17821;
    transition: 300ms ease-in-out;
  }
  
  .button:hover {
    background: linear-gradient(#f29e62, #ff8e3c);
    background-color: var(--primary);
    border-radius: 15px;
  }

  .message-copy {
    background: gray;
    border-radius: 5px;
    color: lightgray;
    left: 50%;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 125px;
  }

  .big-button {
    width: 200px;
    margin-bottom: 20px;
    background: #33CC95;
    height: 50px;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    border: 3px solid #29956e;
    border-radius: 10px;
}

  [disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }